if page.metadata.css
  script.
    if (document.styleSheets.length < 5) {
      var ns = document.createElement('style');
      document.getElementsByTagName('head')[0].appendChild(ns);
    }
    if (typeof(document.styleSheets[4].cssRules) != 'undefined') {
      if (document.styleSheets[4].cssRules.length > 0) {
        for (var i = 0; i<document.styleSheets[4].cssRules.length; i++) {
          document.styleSheets[4].removeRule(i);
        }
      }
    }
    var css = '!{ page.metadata.css }';
    var rules = css.split('}');
    for (var i=0; i<rules.length-1; i++) {
      document.styleSheets[4].insertRule(rules[i]+'}',i);
    }
    document.styleSheets[4].disabled = false;
else
  script.
    if (document.styleSheets.length < 5) {
      var ns = document.createElement('style');
      document.getElementsByTagName('head')[0].appendChild(ns);
    }
    document.styleSheets[4].disabled = true;

.modal-header
  header
    h2!= typogr(page.title).typogrify()
    p.post-date
      i.fa.fa-calendar
      span(style='margin-left:10px')= moment.utc(page.metadata.date).format('DD MMM YYYY')
  button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
.modal-body
  article.post-content!= typogr(page.html).typogrify()
  .divider